# coding: utf-8

"""
    NSX API

    VMware NSX REST API  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PolicyApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_or_update_domain_deployment_map_for_infra(self, domain_id, domain_deployment_map_id, domain_deployment_map, **kwargs):  # noqa: E501
        """Create a new Domain Deployment Map under infra  # noqa: E501

        If the passed Domain Deployment Map does not already exist, create a new Domain Deployment Map. If it already exist, replace it.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_or_update_domain_deployment_map_for_infra(domain_id, domain_deployment_map_id, domain_deployment_map, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str domain_deployment_map_id: Domain Deployment Map ID (required)
        :param DomainDeploymentMap domain_deployment_map: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_or_update_domain_deployment_map_for_infra_with_http_info(domain_id, domain_deployment_map_id, domain_deployment_map, **kwargs)  # noqa: E501
        else:
            (data) = self.create_or_update_domain_deployment_map_for_infra_with_http_info(domain_id, domain_deployment_map_id, domain_deployment_map, **kwargs)  # noqa: E501
            return data

    def create_or_update_domain_deployment_map_for_infra_with_http_info(self, domain_id, domain_deployment_map_id, domain_deployment_map, **kwargs):  # noqa: E501
        """Create a new Domain Deployment Map under infra  # noqa: E501

        If the passed Domain Deployment Map does not already exist, create a new Domain Deployment Map. If it already exist, replace it.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_or_update_domain_deployment_map_for_infra_with_http_info(domain_id, domain_deployment_map_id, domain_deployment_map, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str domain_deployment_map_id: Domain Deployment Map ID (required)
        :param DomainDeploymentMap domain_deployment_map: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'domain_deployment_map_id', 'domain_deployment_map']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_or_update_domain_deployment_map_for_infra" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `create_or_update_domain_deployment_map_for_infra`")  # noqa: E501
        # verify the required parameter 'domain_deployment_map_id' is set
        if ('domain_deployment_map_id' not in params or
                params['domain_deployment_map_id'] is None):
            raise ValueError("Missing the required parameter `domain_deployment_map_id` when calling `create_or_update_domain_deployment_map_for_infra`")  # noqa: E501
        # verify the required parameter 'domain_deployment_map' is set
        if ('domain_deployment_map' not in params or
                params['domain_deployment_map'] is None):
            raise ValueError("Missing the required parameter `domain_deployment_map` when calling `create_or_update_domain_deployment_map_for_infra`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domain-id'] = params['domain_id']  # noqa: E501
        if 'domain_deployment_map_id' in params:
            path_params['domain-deployment-map-id'] = params['domain_deployment_map_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'domain_deployment_map' in params:
            body_params = params['domain_deployment_map']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/domains/{domain-id}/domain-deployment-maps/{domain-deployment-map-id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_or_update_enforcement_point_for_infra(self, deployment_zone_id, enforcementpoint_id, enforcement_point, **kwargs):  # noqa: E501
        """Create/update a new Enforcement Point under infra  # noqa: E501

        If the passed Enforcement Point does not already exist, create a new Enforcement Point. If it already exists, replace it.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_or_update_enforcement_point_for_infra(deployment_zone_id, enforcementpoint_id, enforcement_point, async=True)
        >>> result = thread.get()

        :param async bool
        :param str deployment_zone_id: Deployment zone id (required)
        :param str enforcementpoint_id: EnforcementPoint id (required)
        :param EnforcementPoint enforcement_point: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_or_update_enforcement_point_for_infra_with_http_info(deployment_zone_id, enforcementpoint_id, enforcement_point, **kwargs)  # noqa: E501
        else:
            (data) = self.create_or_update_enforcement_point_for_infra_with_http_info(deployment_zone_id, enforcementpoint_id, enforcement_point, **kwargs)  # noqa: E501
            return data

    def create_or_update_enforcement_point_for_infra_with_http_info(self, deployment_zone_id, enforcementpoint_id, enforcement_point, **kwargs):  # noqa: E501
        """Create/update a new Enforcement Point under infra  # noqa: E501

        If the passed Enforcement Point does not already exist, create a new Enforcement Point. If it already exists, replace it.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_or_update_enforcement_point_for_infra_with_http_info(deployment_zone_id, enforcementpoint_id, enforcement_point, async=True)
        >>> result = thread.get()

        :param async bool
        :param str deployment_zone_id: Deployment zone id (required)
        :param str enforcementpoint_id: EnforcementPoint id (required)
        :param EnforcementPoint enforcement_point: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deployment_zone_id', 'enforcementpoint_id', 'enforcement_point']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_or_update_enforcement_point_for_infra" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'deployment_zone_id' is set
        if ('deployment_zone_id' not in params or
                params['deployment_zone_id'] is None):
            raise ValueError("Missing the required parameter `deployment_zone_id` when calling `create_or_update_enforcement_point_for_infra`")  # noqa: E501
        # verify the required parameter 'enforcementpoint_id' is set
        if ('enforcementpoint_id' not in params or
                params['enforcementpoint_id'] is None):
            raise ValueError("Missing the required parameter `enforcementpoint_id` when calling `create_or_update_enforcement_point_for_infra`")  # noqa: E501
        # verify the required parameter 'enforcement_point' is set
        if ('enforcement_point' not in params or
                params['enforcement_point'] is None):
            raise ValueError("Missing the required parameter `enforcement_point` when calling `create_or_update_enforcement_point_for_infra`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'deployment_zone_id' in params:
            path_params['deployment-zone-id'] = params['deployment_zone_id']  # noqa: E501
        if 'enforcementpoint_id' in params:
            path_params['enforcementpoint-id'] = params['enforcementpoint_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'enforcement_point' in params:
            body_params = params['enforcement_point']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/deployment-zones/{deployment-zone-id}/enforcement-points/{enforcementpoint-id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_or_update_template(self, template_id, policy_template, **kwargs):  # noqa: E501
        """Create or update a template.  # noqa: E501

        Create a new template if the specified template id does not correspond to an existing template. Update the template if otherwise.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_or_update_template(template_id, policy_template, async=True)
        >>> result = thread.get()

        :param async bool
        :param str template_id: Template identifier (required)
        :param PolicyTemplate policy_template: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_or_update_template_with_http_info(template_id, policy_template, **kwargs)  # noqa: E501
        else:
            (data) = self.create_or_update_template_with_http_info(template_id, policy_template, **kwargs)  # noqa: E501
            return data

    def create_or_update_template_with_http_info(self, template_id, policy_template, **kwargs):  # noqa: E501
        """Create or update a template.  # noqa: E501

        Create a new template if the specified template id does not correspond to an existing template. Update the template if otherwise.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_or_update_template_with_http_info(template_id, policy_template, async=True)
        >>> result = thread.get()

        :param async bool
        :param str template_id: Template identifier (required)
        :param PolicyTemplate policy_template: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['template_id', 'policy_template']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_or_update_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `create_or_update_template`")  # noqa: E501
        # verify the required parameter 'policy_template' is set
        if ('policy_template' not in params or
                params['policy_template'] is None):
            raise ValueError("Missing the required parameter `policy_template` when calling `create_or_update_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'template_id' in params:
            path_params['template-id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'policy_template' in params:
            body_params = params['policy_template']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/templates/{template-id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_communication_entry(self, domain_id, communication_entry_id, **kwargs):  # noqa: E501
        """Delete CommunicationEntry  # noqa: E501

        Delete CommunicationEntry  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_communication_entry(domain_id, communication_entry_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str communication_entry_id: CommunicationEntry ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_communication_entry_with_http_info(domain_id, communication_entry_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_communication_entry_with_http_info(domain_id, communication_entry_id, **kwargs)  # noqa: E501
            return data

    def delete_communication_entry_with_http_info(self, domain_id, communication_entry_id, **kwargs):  # noqa: E501
        """Delete CommunicationEntry  # noqa: E501

        Delete CommunicationEntry  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_communication_entry_with_http_info(domain_id, communication_entry_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str communication_entry_id: CommunicationEntry ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'communication_entry_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_communication_entry" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `delete_communication_entry`")  # noqa: E501
        # verify the required parameter 'communication_entry_id' is set
        if ('communication_entry_id' not in params or
                params['communication_entry_id'] is None):
            raise ValueError("Missing the required parameter `communication_entry_id` when calling `delete_communication_entry`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domain-id'] = params['domain_id']  # noqa: E501
        if 'communication_entry_id' in params:
            path_params['communication-entry-id'] = params['communication_entry_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/domains/{domain-id}/communication-map/communication-entries/{communication-entry-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_communication_profile(self, communication_profile_id, **kwargs):  # noqa: E501
        """Delete CommunicationProfile  # noqa: E501

        Delete CommunicationProfile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_communication_profile(communication_profile_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str communication_profile_id: CommunicationProfile ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_communication_profile_with_http_info(communication_profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_communication_profile_with_http_info(communication_profile_id, **kwargs)  # noqa: E501
            return data

    def delete_communication_profile_with_http_info(self, communication_profile_id, **kwargs):  # noqa: E501
        """Delete CommunicationProfile  # noqa: E501

        Delete CommunicationProfile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_communication_profile_with_http_info(communication_profile_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str communication_profile_id: CommunicationProfile ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['communication_profile_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_communication_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'communication_profile_id' is set
        if ('communication_profile_id' not in params or
                params['communication_profile_id'] is None):
            raise ValueError("Missing the required parameter `communication_profile_id` when calling `delete_communication_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'communication_profile_id' in params:
            path_params['communication-profile-id'] = params['communication_profile_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/communication-profiles/{communication-profile-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_communication_profile_entry(self, communication_profile_id, communication_profile_entry_id, **kwargs):  # noqa: E501
        """Delete CommunicationProfileEntry  # noqa: E501

        Delete CommunicationProfileEntry  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_communication_profile_entry(communication_profile_id, communication_profile_entry_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str communication_profile_id: CommunicationProfile ID (required)
        :param str communication_profile_entry_id: CommunicationProfileEntry ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_communication_profile_entry_with_http_info(communication_profile_id, communication_profile_entry_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_communication_profile_entry_with_http_info(communication_profile_id, communication_profile_entry_id, **kwargs)  # noqa: E501
            return data

    def delete_communication_profile_entry_with_http_info(self, communication_profile_id, communication_profile_entry_id, **kwargs):  # noqa: E501
        """Delete CommunicationProfileEntry  # noqa: E501

        Delete CommunicationProfileEntry  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_communication_profile_entry_with_http_info(communication_profile_id, communication_profile_entry_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str communication_profile_id: CommunicationProfile ID (required)
        :param str communication_profile_entry_id: CommunicationProfileEntry ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['communication_profile_id', 'communication_profile_entry_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_communication_profile_entry" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'communication_profile_id' is set
        if ('communication_profile_id' not in params or
                params['communication_profile_id'] is None):
            raise ValueError("Missing the required parameter `communication_profile_id` when calling `delete_communication_profile_entry`")  # noqa: E501
        # verify the required parameter 'communication_profile_entry_id' is set
        if ('communication_profile_entry_id' not in params or
                params['communication_profile_entry_id'] is None):
            raise ValueError("Missing the required parameter `communication_profile_entry_id` when calling `delete_communication_profile_entry`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'communication_profile_id' in params:
            path_params['communication-profile-id'] = params['communication_profile_id']  # noqa: E501
        if 'communication_profile_entry_id' in params:
            path_params['communication-profile-entry-id'] = params['communication_profile_entry_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/communication-profiles/{communication-profile-id}/communication-profile-entries/{communication-profile-entry-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_domain(self, domain_id, **kwargs):  # noqa: E501
        """Delete Domain and all the entities contained by this domain  # noqa: E501

        Delete the domain along with all the entities contained by this domain. The groups that are a part of this domain are also deleted along with the domain.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_domain(domain_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_domain_with_http_info(domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_domain_with_http_info(domain_id, **kwargs)  # noqa: E501
            return data

    def delete_domain_with_http_info(self, domain_id, **kwargs):  # noqa: E501
        """Delete Domain and all the entities contained by this domain  # noqa: E501

        Delete the domain along with all the entities contained by this domain. The groups that are a part of this domain are also deleted along with the domain.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_domain_with_http_info(domain_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_domain" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `delete_domain`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domain-id'] = params['domain_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/domains/{domain-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_domain_deployment_map(self, domain_id, domain_deployment_map_id, **kwargs):  # noqa: E501
        """Delete Domain Deployment Map  # noqa: E501

        Delete Domain Deployment Map  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_domain_deployment_map(domain_id, domain_deployment_map_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str domain_deployment_map_id: domain-deployment-map-id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_domain_deployment_map_with_http_info(domain_id, domain_deployment_map_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_domain_deployment_map_with_http_info(domain_id, domain_deployment_map_id, **kwargs)  # noqa: E501
            return data

    def delete_domain_deployment_map_with_http_info(self, domain_id, domain_deployment_map_id, **kwargs):  # noqa: E501
        """Delete Domain Deployment Map  # noqa: E501

        Delete Domain Deployment Map  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_domain_deployment_map_with_http_info(domain_id, domain_deployment_map_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str domain_deployment_map_id: domain-deployment-map-id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'domain_deployment_map_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_domain_deployment_map" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `delete_domain_deployment_map`")  # noqa: E501
        # verify the required parameter 'domain_deployment_map_id' is set
        if ('domain_deployment_map_id' not in params or
                params['domain_deployment_map_id'] is None):
            raise ValueError("Missing the required parameter `domain_deployment_map_id` when calling `delete_domain_deployment_map`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domain-id'] = params['domain_id']  # noqa: E501
        if 'domain_deployment_map_id' in params:
            path_params['domain-deployment-map-id'] = params['domain_deployment_map_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/domains/{domain-id}/domain-deployment-maps/{domain-deployment-map-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_enforcement_point(self, deployment_zone_id, enforcementpoint_id, **kwargs):  # noqa: E501
        """Delete EnforcementPoint  # noqa: E501

        Delete EnforcementPoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_enforcement_point(deployment_zone_id, enforcementpoint_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str deployment_zone_id: Deployment zone id (required)
        :param str enforcementpoint_id: enforcementpoint-id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_enforcement_point_with_http_info(deployment_zone_id, enforcementpoint_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_enforcement_point_with_http_info(deployment_zone_id, enforcementpoint_id, **kwargs)  # noqa: E501
            return data

    def delete_enforcement_point_with_http_info(self, deployment_zone_id, enforcementpoint_id, **kwargs):  # noqa: E501
        """Delete EnforcementPoint  # noqa: E501

        Delete EnforcementPoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_enforcement_point_with_http_info(deployment_zone_id, enforcementpoint_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str deployment_zone_id: Deployment zone id (required)
        :param str enforcementpoint_id: enforcementpoint-id (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deployment_zone_id', 'enforcementpoint_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_enforcement_point" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'deployment_zone_id' is set
        if ('deployment_zone_id' not in params or
                params['deployment_zone_id'] is None):
            raise ValueError("Missing the required parameter `deployment_zone_id` when calling `delete_enforcement_point`")  # noqa: E501
        # verify the required parameter 'enforcementpoint_id' is set
        if ('enforcementpoint_id' not in params or
                params['enforcementpoint_id'] is None):
            raise ValueError("Missing the required parameter `enforcementpoint_id` when calling `delete_enforcement_point`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'deployment_zone_id' in params:
            path_params['deployment-zone-id'] = params['deployment_zone_id']  # noqa: E501
        if 'enforcementpoint_id' in params:
            path_params['enforcementpoint-id'] = params['enforcementpoint_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/deployment-zones/{deployment-zone-id}/enforcement-points/{enforcementpoint-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_group(self, domain_id, group_id, **kwargs):  # noqa: E501
        """Delete Group  # noqa: E501

        Delete Group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_group(domain_id, group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str group_id: Group ID (required)
        :param bool force: Force delete the resource even if it is being used somewhere 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_group_with_http_info(domain_id, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_group_with_http_info(domain_id, group_id, **kwargs)  # noqa: E501
            return data

    def delete_group_with_http_info(self, domain_id, group_id, **kwargs):  # noqa: E501
        """Delete Group  # noqa: E501

        Delete Group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_group_with_http_info(domain_id, group_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str group_id: Group ID (required)
        :param bool force: Force delete the resource even if it is being used somewhere 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'group_id', 'force']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `delete_group`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `delete_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domain-id'] = params['domain_id']  # noqa: E501
        if 'group_id' in params:
            path_params['group-id'] = params['group_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/domains/{domain-id}/groups/{group-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_service_entry(self, service_id, service_entry_id, **kwargs):  # noqa: E501
        """Delete Service entry  # noqa: E501

        Delete Service entry  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_service_entry(service_id, service_entry_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str service_id: Service ID (required)
        :param str service_entry_id: Service entry ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_service_entry_with_http_info(service_id, service_entry_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_service_entry_with_http_info(service_id, service_entry_id, **kwargs)  # noqa: E501
            return data

    def delete_service_entry_with_http_info(self, service_id, service_entry_id, **kwargs):  # noqa: E501
        """Delete Service entry  # noqa: E501

        Delete Service entry  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_service_entry_with_http_info(service_id, service_entry_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str service_id: Service ID (required)
        :param str service_entry_id: Service entry ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['service_id', 'service_entry_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_service_entry" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'service_id' is set
        if ('service_id' not in params or
                params['service_id'] is None):
            raise ValueError("Missing the required parameter `service_id` when calling `delete_service_entry`")  # noqa: E501
        # verify the required parameter 'service_entry_id' is set
        if ('service_entry_id' not in params or
                params['service_entry_id'] is None):
            raise ValueError("Missing the required parameter `service_entry_id` when calling `delete_service_entry`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'service_id' in params:
            path_params['service-id'] = params['service_id']  # noqa: E501
        if 'service_entry_id' in params:
            path_params['service-entry-id'] = params['service_entry_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/services/{service-id}/service-entries/{service-entry-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_service_for_tenant(self, service_id, **kwargs):  # noqa: E501
        """Delete Service  # noqa: E501

        Delete Service  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_service_for_tenant(service_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str service_id: Service ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_service_for_tenant_with_http_info(service_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_service_for_tenant_with_http_info(service_id, **kwargs)  # noqa: E501
            return data

    def delete_service_for_tenant_with_http_info(self, service_id, **kwargs):  # noqa: E501
        """Delete Service  # noqa: E501

        Delete Service  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_service_for_tenant_with_http_info(service_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str service_id: Service ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['service_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_service_for_tenant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'service_id' is set
        if ('service_id' not in params or
                params['service_id'] is None):
            raise ValueError("Missing the required parameter `service_id` when calling `delete_service_for_tenant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'service_id' in params:
            path_params['service-id'] = params['service_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/services/{service-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_template(self, template_id, **kwargs):  # noqa: E501
        """Delete template.  # noqa: E501

        Delete a template.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_template(template_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str template_id: Template identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_template_with_http_info(template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_template_with_http_info(template_id, **kwargs)  # noqa: E501
            return data

    def delete_template_with_http_info(self, template_id, **kwargs):  # noqa: E501
        """Delete template.  # noqa: E501

        Delete a template.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_template_with_http_info(template_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str template_id: Template identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['template_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `delete_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'template_id' in params:
            path_params['template-id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/templates/{template-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deploy_template_deploy(self, template_id, policy_template_parameters, **kwargs):  # noqa: E501
        """Deploy template.  # noqa: E501

        Read a template, populate the placeholders' fields with the parameters' values, and deploy the template body by creating or updating all the nested policy objects inside the AbstractSpace object.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.deploy_template_deploy(template_id, policy_template_parameters, async=True)
        >>> result = thread.get()

        :param async bool
        :param str template_id: Template identifier (required)
        :param PolicyTemplateParameters policy_template_parameters: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.deploy_template_deploy_with_http_info(template_id, policy_template_parameters, **kwargs)  # noqa: E501
        else:
            (data) = self.deploy_template_deploy_with_http_info(template_id, policy_template_parameters, **kwargs)  # noqa: E501
            return data

    def deploy_template_deploy_with_http_info(self, template_id, policy_template_parameters, **kwargs):  # noqa: E501
        """Deploy template.  # noqa: E501

        Read a template, populate the placeholders' fields with the parameters' values, and deploy the template body by creating or updating all the nested policy objects inside the AbstractSpace object.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.deploy_template_deploy_with_http_info(template_id, policy_template_parameters, async=True)
        >>> result = thread.get()

        :param async bool
        :param str template_id: Template identifier (required)
        :param PolicyTemplateParameters policy_template_parameters: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['template_id', 'policy_template_parameters']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deploy_template_deploy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `deploy_template_deploy`")  # noqa: E501
        # verify the required parameter 'policy_template_parameters' is set
        if ('policy_template_parameters' not in params or
                params['policy_template_parameters'] is None):
            raise ValueError("Missing the required parameter `policy_template_parameters` when calling `deploy_template_deploy`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'template_id' in params:
            path_params['template-id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'policy_template_parameters' in params:
            body_params = params['policy_template_parameters']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/templates/{template-id}?action=deploy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_communication_entry(self, domain_id, **kwargs):  # noqa: E501
        """List CommunicationEntries  # noqa: E501

        List CommunicationEntries  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_communication_entry(domain_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: CommunicationEntryListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_communication_entry_with_http_info(domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_communication_entry_with_http_info(domain_id, **kwargs)  # noqa: E501
            return data

    def list_communication_entry_with_http_info(self, domain_id, **kwargs):  # noqa: E501
        """List CommunicationEntries  # noqa: E501

        List CommunicationEntries  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_communication_entry_with_http_info(domain_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: CommunicationEntryListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_communication_entry" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `list_communication_entry`")  # noqa: E501

        if 'page_size' in params and params['page_size'] > 1000:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_communication_entry`, must be a value less than or equal to `1000`")  # noqa: E501
        if 'page_size' in params and params['page_size'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_communication_entry`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domain-id'] = params['domain_id']  # noqa: E501

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/domains/{domain-id}/communication-map/communication-entries', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CommunicationEntryListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_communication_profile_entries(self, communication_profile_id, **kwargs):  # noqa: E501
        """List CommunicationProfileEntries for CommunicationProfile  # noqa: E501

        Paginated list of CommunicationProfileEntries for the given CommunicationProfile.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_communication_profile_entries(communication_profile_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str communication_profile_id: CommunicationProfile ID (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: CommunicationProfileEntryListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_communication_profile_entries_with_http_info(communication_profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_communication_profile_entries_with_http_info(communication_profile_id, **kwargs)  # noqa: E501
            return data

    def list_communication_profile_entries_with_http_info(self, communication_profile_id, **kwargs):  # noqa: E501
        """List CommunicationProfileEntries for CommunicationProfile  # noqa: E501

        Paginated list of CommunicationProfileEntries for the given CommunicationProfile.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_communication_profile_entries_with_http_info(communication_profile_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str communication_profile_id: CommunicationProfile ID (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: CommunicationProfileEntryListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['communication_profile_id', 'cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_communication_profile_entries" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'communication_profile_id' is set
        if ('communication_profile_id' not in params or
                params['communication_profile_id'] is None):
            raise ValueError("Missing the required parameter `communication_profile_id` when calling `list_communication_profile_entries`")  # noqa: E501

        if 'page_size' in params and params['page_size'] > 1000:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_communication_profile_entries`, must be a value less than or equal to `1000`")  # noqa: E501
        if 'page_size' in params and params['page_size'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_communication_profile_entries`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'communication_profile_id' in params:
            path_params['communication-profile-id'] = params['communication_profile_id']  # noqa: E501

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/communication-profiles/{communication-profile-id}/communication-profile-entries', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CommunicationProfileEntryListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_communication_profiles(self, **kwargs):  # noqa: E501
        """List CommunicationProfiles  # noqa: E501

        Paginated list of CommunicationProfiles.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_communication_profiles(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: CommunicationProfileListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_communication_profiles_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_communication_profiles_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_communication_profiles_with_http_info(self, **kwargs):  # noqa: E501
        """List CommunicationProfiles  # noqa: E501

        Paginated list of CommunicationProfiles.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_communication_profiles_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: CommunicationProfileListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_communication_profiles" % key
                )
            params[key] = val
        del params['kwargs']

        if 'page_size' in params and params['page_size'] > 1000:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_communication_profiles`, must be a value less than or equal to `1000`")  # noqa: E501
        if 'page_size' in params and params['page_size'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_communication_profiles`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/communication-profiles', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CommunicationProfileListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_deployment_zones_for_infra(self, **kwargs):  # noqa: E501
        """List Deployment Zones for infra  # noqa: E501

        Paginated list of all Deployment zones for infra.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_deployment_zones_for_infra(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: DeploymentZoneListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_deployment_zones_for_infra_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_deployment_zones_for_infra_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_deployment_zones_for_infra_with_http_info(self, **kwargs):  # noqa: E501
        """List Deployment Zones for infra  # noqa: E501

        Paginated list of all Deployment zones for infra.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_deployment_zones_for_infra_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: DeploymentZoneListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_deployment_zones_for_infra" % key
                )
            params[key] = val
        del params['kwargs']

        if 'page_size' in params and params['page_size'] > 1000:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_deployment_zones_for_infra`, must be a value less than or equal to `1000`")  # noqa: E501
        if 'page_size' in params and params['page_size'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_deployment_zones_for_infra`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/deployment-zones', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeploymentZoneListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_domain_deployment_maps_for_infra(self, domain_id, **kwargs):  # noqa: E501
        """List Domain Deployment maps for infra  # noqa: E501

        Paginated list of all Domain Deployment Entries for infra.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_domain_deployment_maps_for_infra(domain_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: DomainDeploymentMapListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_domain_deployment_maps_for_infra_with_http_info(domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_domain_deployment_maps_for_infra_with_http_info(domain_id, **kwargs)  # noqa: E501
            return data

    def list_domain_deployment_maps_for_infra_with_http_info(self, domain_id, **kwargs):  # noqa: E501
        """List Domain Deployment maps for infra  # noqa: E501

        Paginated list of all Domain Deployment Entries for infra.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_domain_deployment_maps_for_infra_with_http_info(domain_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str domain_id: Domain ID (required)
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: DomainDeploymentMapListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_domain_deployment_maps_for_infra" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `list_domain_deployment_maps_for_infra`")  # noqa: E501

        if 'page_size' in params and params['page_size'] > 1000:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_domain_deployment_maps_for_infra`, must be a value less than or equal to `1000`")  # noqa: E501
        if 'page_size' in params and params['page_size'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_domain_deployment_maps_for_infra`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domain-id'] = params['domain_id']  # noqa: E501

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'included_fields' in params:
            query_params.append(('included_fields', params['included_fields']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'sort_ascending' in params:
            query_params.append(('sort_ascending', params['sort_ascending']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/infra/domains/{domain-id}/domain-deployment-maps', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DomainDeploymentMapListResult',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_domain_for_infra(self, **kwargs):  # noqa: E501
        """List domains for infra  # noqa: E501

        Paginated list of all domains for infra.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_domain_for_infra(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: DomainListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_domain_for_infra_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_domain_for_infra_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_domain_for_infra_with_http_info(self, **kwargs):  # noqa: E501
        """List domains for infra  # noqa: E501

        Paginated list of all domains for infra.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_domain_for_infra_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: Opaque cursor to be used for getting next page of records (supplied by current result page)
        :param str included_fields: Comma separated list of fields that should be included to result of query
        :param int page_size: Maximum number of results to return in this page (server may return fewer)
        :param bool sort_ascending:
        :param str sort_by: Field by which records are sorted
        :return: DomainListResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'included_fields', 'page_size', 'sort_ascending', 'sort_by']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_domain_for_infra" % key
                )
            params[key] = val
        del params['kwargs']

        if 'page_size' in params and params['page_size'] > 1000:  # noqa: E501
            raise ValueError("Invalid value for parameter `page_size` when calling `list_domain_for_infra`, must be a value less than or equal to `1000`")  # noqa: E501
        if 'page_size' in params and params['page_size'] < 0:  # noqa: E501
[...]
